openapi: 3.0.2
info:
  title: PHAIDRA datastream API
  version: '3.0'
  description: Documentation of the PHAIDRA API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: University of Vienna PHAIDRA
  url: https://services.phaidra.univie.ac.at/api/
- description: PHAIDRA Sandbox
  url: https://sandbox.phaidra.org/api/
tags:
- name: datastream
  description: Requests for transforming and validating datastreams
paths:
  /uwmetadata/tree:
    get:
      summary: Get uwmetadata structure.
      description: Returns the uwmetadata structure with all nodes, labels, dictionaries, etc.
      tags:
      - datastream
      responses:
        '200':
          description: Uwmetadata tree.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  status:
                    type: number
                  languages:
                    type: object
                  tree:
                    $ref: '#/components/schemas/uwmetadata'
  /uwmetadata/json2xml:
    post:
      summary: Transforms uwmetadata JSON to XML.
      description: Transforms uwmetadata structure from JSON to XML (see [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples)).
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      type: object
                      properties:
                        uwmetadata:
                          $ref: '#/components/schemas/uwmetadata_min'
                  description: example of uwmetadata JSON
      responses:
        '200':
          description: XML uwmetadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    type: object
                    properties:
                      uwmetadata:
                        type: string
  /uwmetadata/xml2json:
    post:
      summary: Transforms uwmetadata XML to JSON.
      description: Transforms the uwmetadata structure from XML to JSON (see [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples)).
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    uwmetadata:
                      type: string
                      example: '<ns0:uwmetadata xmlns:ns0="http://phaidra.univie.ac.at/XML/metadata/V1.0" xmlns:ns1="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0" xmlns:ns2="http://phaidra.univie.ac.at/XML/metadata/extended/V1.0" xmlns:ns3="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity" xmlns:ns4="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/requirement" xmlns:ns5="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/educational" xmlns:ns6="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/annotation" xmlns:ns7="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification" xmlns:ns8="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization" xmlns:ns9="http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0" xmlns:ns10="http://phaidra.univie.ac.at/XML/metadata/provenience/V1.0" xmlns:ns11="http://phaidra.univie.ac.at/XML/metadata/provenience/V1.0/entity" xmlns:ns12="http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0" xmlns:ns13="http://phaidra.univie.ac.at/XML/metadata/etheses/V1.0">

                        <ns1:general>

                        <ns1:title language="de">Title</ns1:title>

                        <ns1:language>de</ns1:language>

                        </ns1:general>

                        <ns1:lifecycle>

                        <ns1:contribute seq="0">

                        <ns1:role>46</ns1:role>

                        <ns1:entity seq="0">

                        <ns3:firstname>Brenda</ns3:firstname>

                        <ns3:lastname>Walsh</ns3:lastname>

                        </ns1:entity>

                        </ns1:contribute>

                        </ns1:lifecycle>

                        <ns1:rights>

                        <ns1:license>1</ns1:license>

                        </ns1:rights>

                        </ns0:uwmetadata>

                        '
      parameters:
      - in: query
        name: mode
        schema:
          type: string
          required: false
          enum:
          - full
          - basic
          default: basic
        description: mode full or basic
      responses:
        '200':
          description: JSON uwmetadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    type: object
                    properties:
                      uwmetadata:
                        $ref: '#/components/schemas/uwmetadata_min'
  /uwmetadata/validate:
    post:
      summary: Validates uwmetadata XML.
      description: Validates the uwmetadata structure in XML (see an [example of uwmetadata XML](https://github.com/phaidra/phaidra-api/wiki/Article-uwmetadata-in-xml-format)). The XML has to be sent in the request body as raw data.
      tags:
      - datastream
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: binary
              description: uwmetadata XML, the XML has to be sent in the request body as raw data.
      responses:
        '200':
          description: Xml uwmetadata validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /uwmetadata/json2xml_validate:
    post:
      summary: Validates JSON uwmetadata.
      description: 'Transforms uwmetadata structure from JSON to XML, then validates the uwmetadata XML. See [examples of uwmetadata](https://github.com/phaidra/phaidra-api/wiki/Datastream-examples). '
      tags:
      - datastream
      requestBody:
        description: JSON uwmetadata. An example of article uwmetadata in basic mode is provided.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/uwmetadata_article_basic'
      responses:
        '200':
          description: Json uwmetadata validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /mods/tree:
    get:
      summary: Get MODS tree.
      description: Returns the MODS structure with all nodes, dictionaries, etc.
      tags:
      - datastream
      responses:
        '200':
          description: Mods tree.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mods_tree'
  /mods/json2xml:
    post:
      summary: Transforms MODS JSON to XML.
      description: Transforms the MODS from JSON to XML.
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/mods'
                  description: example of mods JSON
      responses:
        '200':
          description: MODS XML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    type: object
                    properties:
                      mods:
                        type: string
  /mods/xml2json:
    post:
      summary: Transforms MODS XML to JSON.
      description: Transforms the MODS from XML to JSON.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    annotations:
                      type: string
                      example: <mods:mods xmlns:mods="http://www.loc.gov/mods/v3"><mods:identifier type="ac-number">AC04090285</mods:identifier><mods:language><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:language><mods:name authority="gnd" authorityURI="http://d-nb.info/gnd/" type="personal" valueURI="http://d-nb.info/gnd/121309096"><mods:namePart type="given">Gustav</mods:namePart><mods:namePart type="family">Freytag</mods:namePart><mods:role><mods:roleTerm authority="marcrelator" type="code">edt</mods:roleTerm></mods:role></mods:name><mods:titleInfo><mods:title>Karte der Dachstein-Gruppe</mods:title><mods:subTitle>für Touristen</mods:subTitle></mods:titleInfo><mods:relatedItem type="series"><mods:titleInfo><mods:title>Touristenkarten</mods:title></mods:titleInfo></mods:relatedItem><mods:classification authority="bkl" authorityURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/" valueURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_10/1065197">Deutschland, Österreich, Schweiz &lt;Geographie&gt;</mods:classification><mods:subject><mods:geographic authority="gnd" authorityURI="http://d-nb.info/gnd/" valueURI="http://d-nb.info/gnd/4010858-2">Dachstein</mods:geographic><mods:topic authority="gnd">Karte</mods:topic></mods:subject><mods:originInfo><mods:dateIssued encoding="w3cdtf" keyDate="yes">1931</mods:dateIssued><mods:place><mods:placeTerm type="text">Wien</mods:placeTerm></mods:place><mods:publisher>G. Freytag &amp; Berndt</mods:publisher></mods:originInfo><mods:physicalDescription><mods:extent>1 Kt.</mods:extent><mods:form>mehrfarb.</mods:form><mods:extent>58 x 55 cm</mods:extent></mods:physicalDescription><mods:recordInfo><mods:recordContentSource>Universitätsbibliothek Wien</mods:recordContentSource><mods:recordOrigin>Maschinell erzeugt</mods:recordOrigin><mods:languageOfCataloging><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:languageOfCataloging><mods:descriptionStandard>rakwb</mods:descriptionStandard></mods:recordInfo><mods:note type="statement of responsibility">Bestand der Kartensammlung der Fachbereichsbibliothek Geographie und Regionalforschung, Universität Wien</mods:note><mods:accessCondition type="use and reproduction">http://creativecommons.org/publicdomain/mark/1.0/</mods:accessCondition></mods:mods>
      parameters:
      - in: query
        name: mode
        schema:
          type: string
          required: false
          enum:
          - full
          - basic
          default: basic
        description: mode full or basic
      responses:
        '200':
          description: MODS as JSON structure.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  mods:
                    $ref: '#/components/schemas/mods'
  /mods/validate:
    post:
      summary: Validates the MODS XML.
      description: Validates the MODS structure in XML.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    annotations:
                      type: string
                      example: <mods:mods xmlns:mods="http://www.loc.gov/mods/v3"><mods:identifier type="ac-number">AC04090285</mods:identifier><mods:language><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:language><mods:name authority="gnd" authorityURI="http://d-nb.info/gnd/" type="personal" valueURI="http://d-nb.info/gnd/121309096"><mods:namePart type="given">Gustav</mods:namePart><mods:namePart type="family">Freytag</mods:namePart><mods:role><mods:roleTerm authority="marcrelator" type="code">edt</mods:roleTerm></mods:role></mods:name><mods:titleInfo><mods:title>Karte der Dachstein-Gruppe</mods:title><mods:subTitle>für Touristen</mods:subTitle></mods:titleInfo><mods:relatedItem type="series"><mods:titleInfo><mods:title>Touristenkarten</mods:title></mods:titleInfo></mods:relatedItem><mods:classification authority="bkl" authorityURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/" valueURI="http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/classification/cls_10/1065197">Deutschland, Österreich, Schweiz &lt;Geographie&gt;</mods:classification><mods:subject><mods:geographic authority="gnd" authorityURI="http://d-nb.info/gnd/" valueURI="http://d-nb.info/gnd/4010858-2">Dachstein</mods:geographic><mods:topic authority="gnd">Karte</mods:topic></mods:subject><mods:originInfo><mods:dateIssued encoding="w3cdtf" keyDate="yes">1931</mods:dateIssued><mods:place><mods:placeTerm type="text">Wien</mods:placeTerm></mods:place><mods:publisher>G. Freytag &amp; Berndt</mods:publisher></mods:originInfo><mods:physicalDescription><mods:extent>1 Kt.</mods:extent><mods:form>mehrfarb.</mods:form><mods:extent>58 x 55 cm</mods:extent></mods:physicalDescription><mods:recordInfo><mods:recordContentSource>Universitätsbibliothek Wien</mods:recordContentSource><mods:recordOrigin>Maschinell erzeugt</mods:recordOrigin><mods:languageOfCataloging><mods:languageTerm authority="iso639-2b" type="code">ger</mods:languageTerm></mods:languageOfCataloging><mods:descriptionStandard>rakwb</mods:descriptionStandard></mods:recordInfo><mods:note type="statement of responsibility">Bestand der Kartensammlung der Fachbereichsbibliothek Geographie und Regionalforschung, Universität Wien</mods:note><mods:accessCondition type="use and reproduction">http://creativecommons.org/publicdomain/mark/1.0/</mods:accessCondition></mods:mods>
      responses:
        '200':
          description: XML validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /mods/json2xml_validate:
    post:
      summary: Validates MODS JSON
      description: Transforms the MODS structure from JSON to XML and validates it.
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/mods'
      responses:
        '200':
          description: MODS JSON validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /rights/json2xml:
    post:
      summary: Transforms rights JSON to XML.
      description: Transforms the rights structure from JSON to XML (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights))
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      type: object
                      properties:
                        rights:
                          $ref: '#/components/schemas/rights'
                  description: example of rights JSON
      responses:
        '200':
          description: rights in XML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    type: object
                    properties:
                      rights:
                        type: string
  /rights/xml2json:
    post:
      summary: Transforms rights XML to JSON.
      description: Transforms the rights structure from XML to JSON (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights)).
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    rights:
                      type: string
                      example: <uwr:rights xmlns:uwr="http://phaidra.univie.ac.at/XML/V1.0/rights"><uwr:allow><uwr:username expires="2016-08-25T14:31:34Z" >username123</uwr:username></uwr:allow></uwr:rights>
      responses:
        '200':
          description: rights in JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  status:
                    type: number
                  rights:
                    $ref: '#/components/schemas/rights'
  /rights/validate:
    post:
      summary: Validates rights XML.
      description: Validates the rights structure in XML.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    rights:
                      type: string
                      example: <uwr:rights xmlns:uwr="http://phaidra.univie.ac.at/XML/V1.0/rights"><uwr:allow><uwr:username expires="2016-08-25T14:31:34Z" >username123</uwr:username></uwr:allow></uwr:rights>
      responses:
        '200':
          description: xml validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /rights/json2xml_validate:
    post:
      summary: Validates rights JSON.
      description: Transforms the rights structure from JSON to XML and validates it (see [examples of rights structure](https://github.com/phaidra/phaidra-api/wiki/Example-of-rights)).
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/rights'
      responses:
        '200':
          description: JSON validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /geo/json2xml:
    post:
      summary: Transforms the geo JSON to XML.
      description: Transforms the geo structure from JSON to XML (see [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object)).
      tags:
      - datastream
      requestBody:
        description: Geo JSON
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/geo'
                  description: example of geo JSON
      responses:
        '200':
          description: geolocation in XML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    type: object
                    properties:
                      geo:
                        type: string
  /geo/xml2json:
    post:
      summary: Transforms geo XML to JSON.
      description: Transforms the geo structure from XML to JSON (see [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object)).
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    geo:
                      type: string
                      example: <kml:kml xmlns:kml="http://www.opengis.net/kml/2.2"><kml:Document><kml:Placemark><kml:name>Tiflis, Metechi-Kirche</kml:name><kml:description>Tiflis, Georgien Tbilisi, Georgia</kml:description><kml:Point><kml:coordinates>44.8112504748688,41.6902784095934,0</kml:coordinates></kml:Point></kml:Placemark></kml:Document></kml:kml>
      responses:
        '200':
          description: geo in JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  geo:
                    $ref: '#/components/schemas/geo'
  /geo/validate:
    post:
      summary: Validates the geo XML.
      description: Validates the geo structure in XML.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    geo:
                      type: string
                      example: <kml:kml xmlns:kml="http://www.opengis.net/kml/2.2"><kml:Document><kml:Placemark><kml:name>Tiflis, Metechi-Kirche</kml:name><kml:description>Tiflis, Georgien Tbilisi, Georgia</kml:description><kml:Point><kml:coordinates>44.8112504748688,41.6902784095934,0</kml:coordinates></kml:Point></kml:Placemark></kml:Document></kml:kml>
      responses:
        '200':
          description: geo XML validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /geo/json2xml_validate:
    post:
      summary: Validates the geo JSON.
      description: Transforms the geo structure from JSON to XML and validates it. See [examples of geo datastream of a map object](https://github.com/phaidra/phaidra-api/wiki/GEO-datastream-of-a-map-object).
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/geo'
      responses:
        '200':
          description: geo JSON validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /members/order/json2xml:
    post:
      summary: Transforms members JSON to XML.
      description: Transforms the members JSON structure to XML. See [example of members JSON structure](https://github.com/phaidra/phaidra-api/wiki/Collection-members-json-structure).
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/members'
      responses:
        '200':
          description: Members JSON in XML format.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                  metadata:
                    type: string
  /members/order/xml2json:
    post:
      summary: Transforms the members XML structure to JSON.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    geo:
                      type: string
                      example: <co:collection_order xmlns:co="http://phaidra.univie.ac.at/XML/collection_order/V1.0"><co:member pos="1">o:98079</co:member><co:member pos="2">o:97973</co:member><co:member pos="3">o:98109</co:member><co:member pos="4">o:98074</co:member><co:member pos="5">o:16066</co:member><co:member pos="6">o:16083</co:member><co:member pos="7">o:98076</co:member><co:member pos="8">o:26111</co:member><co:member pos="9">o:18</co:member><co:member pos="10">o:62026</co:member></co:collection_order>
      responses:
        '200':
          description: Collection members in JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    $ref: '#/components/schemas/members'
  /annotations/json2xml:
    post:
      summary: Transforms annotations JSON to XML.
      description: Transforms the annotations JSON structure to XML (see an [example of annotation JSON structure](https://github.com/phaidra/phaidra-api/wiki/Annotations)).
      tags:
      - datastream
      requestBody:
        description: Annotations JSON
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    metadata:
                      $ref: '#/components/schemas/annotations'
                  description: example of annotation JSON
      responses:
        '200':
          description: Annotations in XML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  annotations:
                    type: object
  /annotations/xml2json:
    post:
      summary: Transforms annotations XML to JSON.
      description: Transforms the XML annotations structure to JSON.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    annotations:
                      type: string
                      example: <ph:annotations xmlns:ph="http://phaidra.org/XML/V1.0/annotations"><ph:annotation ph:id=1><ph:x>0.7</ph:x><ph:y>0.6</ph:y><ph:w>0.2</ph:w><ph:h>0.18</ph:h><ph:category>pigments</ph:category><ph:text>prussian blue</ph:text></ph:annotation><ph:annotation ph:id=3><ph:x>0.7</ph:x><ph:y>0.4</ph:y><ph:w>0.1</ph:w><ph:h>0.1</ph:h><ph:category>people</ph:category><ph:text>Mary</ph:text></ph:annotation><ph:annotation ph:id="2"><ph:x>0.1</ph:x><ph:y>0.8</ph:y><ph:w>0.15</ph:w><ph:h>0.1</ph:h><ph:category>pigments</ph:category><ph:text>azurite</ph:text></ph:annotation></ph:annotations>
      responses:
        '200':
          description: annotations in JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        msg:
                          type: string
                        type:
                          type: string
                  metadata:
                    $ref: '#/components/schemas/annotations'
  /annotations/validate:
    post:
      summary: Validates the annotations XML.
      description: Validates the annotations structure in XML.
      tags:
      - datastream
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    annotations:
                      type: string
                      example: <ph:annotations xmlns:ph="http://phaidra.org/XML/V1.0/annotations"><ph:annotation ph:id="1"><ph:x>0.7</ph:x><ph:y>0.6</ph:y><ph:w>0.2</ph:w><ph:h>0.18</ph:h><ph:category>pigments</ph:category><ph:text>prussian blue</ph:text></ph:annotation><ph:annotation ph:id="3"><ph:x>0.7</ph:x><ph:y>0.4</ph:y><ph:w>0.1</ph:w><ph:h>0.1</ph:h><ph:category>people</ph:category><ph:text>Mary</ph:text></ph:annotation><ph:annotation ph:id="2"><ph:x>0.1</ph:x><ph:y>0.8</ph:y><ph:w>0.15</ph:w><ph:h>0.1</ph:h><ph:category>pigments</ph:category><ph:text>azurite</ph:text></ph:annotation></ph:annotations>
      responses:
        '200':
          description: Annotations XML validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
  /annotations/json2xml_validate:
    post:
      summary: Validates the annotations JSON.
      description: 'Transforms the annotations structure from JSON to XML and validates it. '
      tags:
      - datastream
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/annotations'
      responses:
        '200':
          description: annotations JSON validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default'
components:
  schemas:
    members:
      type: array
      items:
        type: object
        properties:
          pid:
            type: string
          pos:
            type: string
      example:
      - pid: o:1
        pos: 1
      - pid: o:2
        pos: 2
    mods:
      type: object
      properties:
        metadata:
          type: object
          properties:
            mods:
              type: array
              items:
                type: object
                properties:
                  attributes:
                    type: array
                    items:
                      type: object
                      properties:
                        input_type:
                          type: string
                        label:
                          type: string
                        xmlname:
                          type: string
                        ui_value:
                          type: string
                  children:
                    type: array
                    items:
                      type: object
                  label:
                    type: string
                  ui_value:
                    type: string
                  xmlname:
                    type: string
                  input_type:
                    type: string
                  extensible:
                    type: number
              example:
              - ui_value: AC04090285
                xmlname: identifier
                input_type: input_text
                label: Identifier
                attributes:
                - ui_value: ac-number
                  xmlname: type
                  input_type: select
                  label: Type
                - xmlname: lang
                  input_type: input_text
                  label: Language
                - xmlname: script
                  input_type: input_text
                  label: Script
                - xmlname: transliteration
                  input_type: input_text
                  label: Transliteration
                - xmlname: typeURI
                  input_type: input_text
                  label: Type URI
                - xmlname: displayLabel
                  input_type: input_text
                  label: Display label
                - xmlname: invalid
                  input_type: select
                  label: Invalid
                - xmlname: altRepGroup
                  input_type: input_text
                  label: Alternative representation group
              - xmlname: language
                input_type: node
                label: Language
                children:
                - ui_value: ger
                  xmlname: languageTerm
                  input_type: input_text
                  label: Language term
                  attributes:
                  - ui_value: code
                    xmlname: type
                    input_type: select
                    label: Type
                  - ui_value: iso639-2b
                    xmlname: authority
                    input_type: select
                    label: Authority
                  - xmlname: authorityURI
                    input_type: input_text
                    label: Authority URI
                  - xmlname: valueURI
                    input_type: input_text
                    label: Value URI
                  - xmlname: lang
                    input_type: input_text
                    label: Language
                  - xmlname: script
                    input_type: input_text
                    label: Script
                  - xmlname: transliteration
                    input_type: input_text
                    label: Transliteration
                attributes:
                - xmlname: objectPart
                  input_type: input_text
                  label: Object part
                - xmlname: lang
                  input_type: input_text
                  label: Language
                - xmlname: script
                  input_type: input_text
                  label: Script
                - xmlname: transliteration
                  input_type: input_text
                  label: Transliteration
                - xmlname: displayLabel
                  input_type: input_text
                  label: Display label
                - xmlname: usage
                  input_type: select
                  label: Usage
                - xmlname: altRepGroup
                  input_type: input_text
                  label: Alternative representation group
    vocabularies_mapping:
      type: object
      properties:
        abstract_shareable:
          type: string
        abstract_type:
          type: string
        accessCondition_type:
          type: string
        classification_authority:
          type: string
        classification_usage:
          type: string
        genre_authority:
          type: string
        genre_type:
          type: string
        genre_usage:
          type: string
        identifier_invalid:
          type: string
        identifier_type:
          type: string
        language_languageTerm_authority:
          type: string
        language_languageTerm_type:
          type: string
        language_scriptTerm_type:
          type: string
        language_usage_primary:
          type: string
        location_holdingSimple_copyInformation_enumerationAndChronology_unitType:
          type: string
        location_physicalLocation_authority:
          type: string
        location_physicalLocation_type:
          type: string
        location_url_access:
          type: string
        location_url_usage:
          type: string
        name_authority:
          type: string
        name_namePart_type:
          type: string
        name_role_roleTerm_authority:
          type: string
        name_role_roleTerm_type:
          type: string
        name_type:
          type: string
        name_usage:
          type: string
        note_type:
          type: string
        originInfo_copyrightDate_encoding:
          type: string
        originInfo_copyrightDate_keyDate:
          type: string
        originInfo_copyrightDate_point:
          type: string
        originInfo_copyrightDate_qualifier:
          type: string
        originInfo_dateCaptured_encoding:
          type: string
        originInfo_dateCaptured_keyDate:
          type: string
        originInfo_dateCaptured_point:
          type: string
        originInfo_dateCaptured_qualifier:
          type: string
        originInfo_dateCreated_encoding:
          type: string
        originInfo_dateCreated_keyDate:
          type: string
        originInfo_dateCreated_point:
          type: string
        originInfo_dateCreated_qualifier:
          type: string
        originInfo_dateIssued_encoding:
          type: string
        originInfo_dateIssued_keyDate:
          type: string
        originInfo_dateIssued_point:
          type: string
        originInfo_dateIssued_qualifier:
          type: string
        originInfo_dateModified_encoding:
          type: string
        originInfo_dateModified_keyDate:
          type: string
        originInfo_dateModified_point:
          type: string
        originInfo_dateModified_qualifier:
          type: string
        originInfo_dateOther_encoding:
          type: string
        originInfo_dateOther_keyDate:
          type: string
        originInfo_dateOther_point:
          type: string
        originInfo_dateOther_qualifier:
          type: string
        originInfo_dateValid_encoding:
          type: string
        originInfo_dateValid_keyDate:
          type: string
        originInfo_dateValid_point:
          type: string
        originInfo_dateValid_qualifier:
          type: string
        originInfo_edition_supplied:
          type: string
        originInfo_eventType:
          type: string
        originInfo_frequency_authority:
          type: string
        originInfo_issuance:
          type: string
        originInfo_place_placeTerm_authority:
          type: string
        originInfo_place_placeTerm_type:
          type: string
        originInfo_place_supplied:
          type: string
        originInfo_publisher_supplied:
          type: string
        part_date_encoding:
          type: string
        part_date_keyDate:
          type: string
        part_date_point:
          type: string
        part_date_qualifier:
          type: string
        part_detail_type:
          type: string
        part_extent_unit:
          type: string
        part_text_type:
          type: string
        part_type:
          type: string
        physicalDescription_digitalOrigin:
          type: string
        physicalDescription_extent_supplied:
          type: string
        physicalDescription_form_authority:
          type: string
        physicalDescription_form_type:
          type: string
        physicalDescription_note_type:
          type: string
        physicalDescription_reformattingQuality:
          type: string
        recordInfo_descriptionStandard:
          type: string
        recordInfo_descriptionStandard_authority:
          type: string
        recordInfo_languageOfCataloging_languageTerm_authority:
          type: string
        recordInfo_languageOfCataloging_languageTerm_type:
          type: string
        recordInfo_languageOfCataloging_scriptTerm_type:
          type: string
        recordInfo_languageOfCataloging_usage:
          type: string
        recordInfo_recordChangeDate_encoding:
          type: string
        recordInfo_recordChangeDate_keyDate:
          type: string
        recordInfo_recordChangeDate_point:
          type: string
        recordInfo_recordChangeDate_qualifier:
          type: string
        recordInfo_recordContentSource_authority:
          type: string
        recordInfo_recordCreationDate_encoding:
          type: string
        recordInfo_recordCreationDate_keyDate:
          type: string
        recordInfo_recordCreationDate_point:
          type: string
        recordInfo_recordCreationDate_qualifier:
          type: string
        recordInfo_recordIdentifier_source:
          type: string
        relatedItem_type:
          type: string
        subject_authority:
          type: string
        subject_geographicCode_authority:
          type: string
        subject_name_authority:
          type: string
        subject_name_namePart_type:
          type: string
        subject_name_role_roleTerm_authority:
          type: string
        subject_name_role_roleTerm_type:
          type: string
        subject_name_type:
          type: string
        subject_temporal_encoding:
          type: string
        subject_temporal_keyDate:
          type: string
        subject_temporal_point:
          type: string
        subject_temporal_qualifier:
          type: string
        subject_titleInfo_authority:
          type: string
        subject_titleInfo_type:
          type: string
        subject_usage:
          type: string
        tableOfContents_shareable:
          type: string
        tableOfContents_type:
          type: string
        targetAudience_authority:
          type: string
        titleInfo_authority:
          type: string
        titleInfo_supplied:
          type: string
        titleInfo_type:
          type: string
        titleInfo_usage:
          type: string
        typeOfResource:
          type: string
        typeOfResource_collection:
          type: string
        typeOfResource_manuscript:
          type: string
        typeOfResource_usage:
          type: string
    default:
      type: object
      properties:
        alerts:
          type: array
          items:
            type: object
            properties:
              msg:
                type: string
              type:
                type: string
        status:
          type: number
    geo:
      type: object
      properties:
        metadata:
          type: object
          properties:
            geo:
              type: object
              example:
                kml:
                  document:
                    placemark:
                    - point:
                        coordinates:
                          longitude: '44.8112504748688'
                          latitude: '41.6902784095934'
                      name: Name of geo datastream
                      description: Json example of a point geo datastream
    uwmetadata_min:
      type: array
      items:
        type: object
        properties:
          xmlns:
            type: string
          xmlname:
            type: string
          datatype:
            type: string
          input_type:
            type: string
          children:
            type: array
            items:
              type: object
              properties:
                ui_value:
                  type: string
                input_type:
                  type: string
                value_lang:
                  type: string
                datatype:
                  type: string
                xmlns:
                  type: string
                xmlname:
                  type: string
      example:
      - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: general
        children:
        - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          xmlname: title
          ui_value: Title
          value_lang: de
        - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          xmlname: language
          ui_value: de
          datatype: Language
      - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: lifecycle
        children:
        - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          xmlname: contribute
          data_order: '0'
          ordered: 1
          children:
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: role
            ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
            datatype: Vocabulary
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: entity
            data_order: '0'
            ordered: 1
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
              xmlname: firstname
              ui_value: Brenda
              datatype: CharacterString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
              xmlname: lastname
              ui_value: Walsh
              datatype: CharacterString
      - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
        xmlname: rights
        children:
        - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
          xmlname: license
          ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_21/1
          datatype: License
    mods_tree:
      type: object
      properties:
        alerts:
          type: array
          items:
            type: object
            properties:
              msg:
                type: string
              type:
                type: string
        languages:
          type: object
        status:
          type: number
        tree:
          $ref: '#/components/schemas/mods'
        vocabularies:
          $ref: '#/components/schemas/vocabularies'
        vocabularies_mapping:
          $ref: '#/components/schemas/vocabularies_mapping'
    vocabularies:
      type: object
      properties:
        abstract_type:
          type: array
          items:
            type: string
        accessCondition_type:
          type: array
          items:
            type: string
        authority_genre_form:
          type: array
          items:
            type: string
        authority_name_title:
          type: array
          items:
            type: string
        authority_relator_role:
          type: array
          items:
            type: string
        classification_authority:
          type: array
          items:
            type: string
        date_encoding:
          type: array
          items:
            type: string
        date_point:
          type: array
          items:
            type: string
        date_qualifier:
          type: array
          items:
            type: string
        descriptionStandard:
          type: array
          items:
            type: string
        description_authority:
          type: array
          items:
            type: string
        description_form_type:
          type: array
          items:
            type: string
        digital_origin:
          type: array
          items:
            type: string
        event_type:
          type: array
          items:
            type: string
        frequency:
          type: array
          items:
            type: string
        identifier_type:
          type: array
          items:
            type: string
        issuance:
          type: array
          items:
            type: string
        item_type:
          type: array
          items:
            type: string
        language_authority:
          type: array
          items:
            type: string
        location_type:
          type: array
          items:
            type: string
        location_url_type:
          type: array
          items:
            type: string
        location_url_usage:
          type: array
          items:
            type: string
        'no':
          type: array
          items:
            type: string
        note_type:
          type: array
          items:
            type: string
        org_authority:
          type: array
          items:
            type: string
        part_detail_title_type:
          type: array
          items:
            type: string
        part_extent_unit:
          type: array
          items:
            type: string
        part_text_type:
          type: array
          items:
            type: string
        part_type:
          type: array
          items:
            type: string
        physdesc_note_type:
          type: array
          items:
            type: string
        primary:
          type: array
          items:
            type: string
        reformatting_quality:
          type: array
          items:
            type: string
        subject_authority:
          type: array
          items:
            type: string
        target_authority:
          type: array
          items:
            type: string
        thority:
          type: array
          items:
            type: string
        toc_type:
          type: array
          items:
            type: string
        type_1:
          type: array
          items:
            type: string
        type_2:
          type: array
          items:
            type: string
        type_3:
          type: array
          items:
            type: string
        type_4:
          type: array
          items:
            type: string
        type_5:
          type: array
          items:
            type: string
        type_of_resource:
          type: array
          items:
            type: string
        unitType_type:
          type: array
          items:
            type: string
        'yes':
          type: array
          items:
            type: string
    uwmetadata_article_basic:
      type: object
      example:
        metadata:
          uwmetadata:
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: general
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: o:454073
              xmlname: identifier
              input_type: input_text
              datatype: CharacterString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: Tolerance and reward equity predict cooperation in ravens (Corvus corax)
              xmlname: title
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: en
              xmlname: language
              input_type: select
              datatype: Language
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: Cooperative decision rules have so far been shown experimentally mainly in mammal species that have variable and complex social networks. However, these traits should not necessarily be restricted to mammals. Therefore, we tested cooperative problem solving in ravens. We showed that, without training, nine ravens spontaneously cooperated in a loose-string task. Corroborating findings in several species, ravensâ�� cooperative success increased with increasing inter-individual tolerance levels. Importantly, we found this in both a forced dyadic setting, and in a group setting where individuals had an open choice to cooperate with whomever. The ravens, moreover, also paid attention to the resulting reward distribution and ceased cooperation when being cheated upon. Nevertheless, the ravens did not seem to pay attention to the behavior of their partners while cooperating, and future research should reveal whether this is task specific or a general pattern. Given their natural propensity to cooperate and the results we present here, we consider ravens as an interesting model species to study the evolution of, and the mechanisms underlying cooperation.
              xmlname: description
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: Animal behaviour
              xmlname: keyword
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: Behavioural ecology
              xmlname: keyword
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: Social evolution
              xmlname: keyword
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              ui_value: 'yes'
              xmlname: irdata
              input_type: select
              datatype: Boolean
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              xmlname: identifiers
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_31/1552099
                xmlname: resource
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
                ui_value: 10.1038/srep15021
                xmlname: identifier
                input_type: input_text
                datatype: CharacterString
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              xmlname: identifiers
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_31/1552101
                xmlname: resource
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
                ui_value: 2045-2322
                xmlname: identifier
                input_type: input_text
                datatype: CharacterString
              datatype: Node
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: lifecycle
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: '2016-08-23T11:53:04.000Z'
              xmlname: upload_date
              input_type: input_text
              datatype: DateTime
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_2/44
              xmlname: status
              input_type: select
              datatype: Vocabulary
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              ui_value: 'yes'
              xmlname: peer_reviewed
              input_type: select
              datatype: Boolean
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              xmlname: contribute
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Jorg J. M.
                  xmlname: firstname
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Massen
                  xmlname: lastname
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '0'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: '761'
                  xmlname: institution
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: institution
                  xmlname: type
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '1'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              attributes:
              - ui_value: '0'
                xmlname: data_order
                input_type: input_text
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              xmlname: contribute
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Caroline
                  xmlname: firstname
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Ritter
                  xmlname: lastname
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '0'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: '761'
                  xmlname: institution
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: institution
                  xmlname: type
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '1'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              attributes:
              - ui_value: '1'
                xmlname: data_order
                input_type: input_text
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              xmlname: contribute
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/46
                xmlname: role
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Thomas
                  xmlname: firstname
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Bugnyar
                  xmlname: lastname
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '0'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: '761'
                  xmlname: institution
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: institution
                  xmlname: type
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '1'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              attributes:
              - ui_value: '2'
                xmlname: data_order
                input_type: input_text
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              xmlname: contribute
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/1557146
                xmlname: role
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Institutional
                  xmlname: firstname
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Repository
                  xmlname: lastname
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '0'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              attributes:
              - ui_value: '3'
                xmlname: data_order
                input_type: input_text
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              xmlname: contribute
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_3/47
                xmlname: role
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
                xmlname: entity
                input_type: node
                children:
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: Nature Publishing Group
                  xmlname: institution
                  input_type: input_text
                  datatype: CharacterString
                - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/entity
                  ui_value: institution
                  xmlname: type
                  input_type: input_text
                  datatype: CharacterString
                attributes:
                - ui_value: '0'
                  xmlname: data_order
                  input_type: input_text
                datatype: Node
              attributes:
              - ui_value: '4'
                xmlname: data_order
                input_type: input_text
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_38/1556250
              xmlname: infoeurepoversion
              input_type: select
              datatype: Vocabulary
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_40/1557088
              xmlname: metadataqualitycheck
              input_type: select
              datatype: Vocabulary
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: technical
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: application/pdf
              xmlname: format
              input_type: input_text
              datatype: CharacterString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: '650007'
              xmlname: size
              input_type: input_text
              datatype: FileSize
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: rights
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: 'no'
              xmlname: cost
              input_type: select
              datatype: Boolean
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: 'yes'
              xmlname: copyright
              input_type: select
              datatype: Boolean
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/voc_21/16
              xmlname: license
              input_type: select
              datatype: License
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0
              ui_value: http://phaidra.univie.ac.at/XML/metadata/extended/V1.0/voc_36/1556227
              xmlname: infoeurepoaccess
              input_type: select
              datatype: Vocabulary
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: classification
            input_type: node
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0
            xmlname: organization
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_17/1552253
              xmlname: hoschtyp
              input_type: select
              datatype: Vocabulary
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              xmlname: orgassignment
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                input_type: select
                datatype: Faculty
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                input_type: select
                datatype: Department
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              xmlname: orgassignment
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                input_type: select
                datatype: Faculty
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                input_type: select
                datatype: Department
              datatype: Node
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
              xmlname: orgassignment
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_faculty/A50
                xmlname: faculty
                input_type: select
                datatype: Faculty
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization
                ui_value: http://phaidra.univie.ac.at/XML/metadata/lom/V1.0/organization/voc_department/A761
                xmlname: department
                input_type: select
                datatype: Department
              datatype: Node
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
            xmlname: histkult
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
              xmlname: reference_number
              input_type: node
              children:
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
                ui_value: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0/voc_25/1557094
                xmlname: reference
                input_type: select
                datatype: Vocabulary
              - xmlns: http://phaidra.univie.ac.at/XML/metadata/histkult/V1.0
                ui_value: M1351-B17
                xmlname: number
                input_type: input_text
                datatype: CharacterString
              datatype: Node
            datatype: Node
          - xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
            xmlname: digitalbook
            input_type: node
            children:
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
              ui_value: Scientific Reports
              xmlname: name_magazine
              input_type: input_text
              attributes:
              - ui_value: en
                xmlname: lang
                input_type: select
              datatype: LangString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
              ui_value: '5'
              xmlname: volume
              input_type: input_text
              datatype: CharacterString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
              ui_value: '15021'
              xmlname: from_page
              input_type: input_text
              datatype: CharacterString
            - xmlns: http://phaidra.univie.ac.at/XML/metadata/digitalbook/V1.0
              ui_value: '2015'
              xmlname: releaseyear
              input_type: input_text
              datatype: DateTime
            datatype: Node
    annotations:
      type: object
      properties:
        metadata:
          type: object
          properties:
            annotations:
              type: object
              example:
                '1':
                  x: 0.7
                  y: 0.6
                  w: 0.2
                  h: 0.18
                  category: place
                  text: First example of annotation
                '2':
                  x: 0.1
                  y: 0.8
                  w: 0.15
                  h: 0.1
                  category: place
                  text: Second example of annotation
                '3':
                  x: 0.7
                  y: 0.4
                  w: 0.1
                  h: 0.1
                  category: people
                  text: Third example of annotation
    rights:
      type: object
      properties:
        username:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              expires:
                type: string
            example:
              value: user123
              expires: '2016-08-25T14:31:34Z'
    uwmetadata:
      type: array
      items:
        type: object
        properties:
          cardinality:
            type: integer
          children:
            type: array
            items:
              type: object
          data_order:
            type: string
          datatype:
            type: string
          disabled:
            type: integer
          field_order:
            type: integer
          help_id:
            type: string
          hidden:
            type: integer
          input_regex:
            type: string
          input_type:
            type: string
          labels:
            type: object
          loaded:
            type: integer
          mandatory:
            type: integer
          ordered:
            type: integer
          ui_value:
            type: string
          value:
            type: string
          value_lang:
            type: string
          xmlname:
            type: string
          xmlns:
            type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: X-XSRF-TOKEN
    basicAuth:
      type: http
      scheme: basic
